@import "./scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-size: $base;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.spacer {
  flex: 1 1 auto;
}
code {
  text-align: left;
  display: block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  border: 2px solid $border;
  padding: 0 15px;
  border-radius: 7px;
}
header {
  .header {
    background: $grays;
  }
  ul {
    list-style: none;
    margin: 5px 0;
    li {
      display: inline-block;
      a {
        color: $secundary;
        text-decoration: underline;
        margin: 0 10px;
        font-size: 0.875rem;
      }
      span {
        font-size: 0.875rem;
        border-right: 1px solid $primary;
        padding-right: 10px;
      }
    }
  }
}

.bg {
  &__grays {
    background: $grays;
  }
}
