@import "/src/scss/variables";

.content {
  border-radius: 0.5rem;
  padding: 20px;
  h2 {
    text-align: center;
    margin: auto;
    width: 65%;
    color: $primary;
    border: 2px solid $border;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  &__table {
    border-radius: 0.5rem;
    overflow: auto;
    border: 1px solid #e5e7eb;

    .table {
      font-size: 0.75rem;
      border: 1px solid #e5e7eb;
      border-radius: 0.5rem;
      overflow: hidden;
      thead {
        background: #f9fafb;
        line-height: 30px;
        th {
          font-weight: 400;
          font-size: 0.875rem;
          color: #848995;
          background: transparent;
          text-transform: capitalize;
          &:first-child {
            padding-left: 10px;
          }
        }
      }
      tbody {
        background: white;

        td {
          color: #4b5563;
          font-size: 0.875rem;
          border-bottom: 8px solid $grays;
          vertical-align: middle;
          &:nth-child(2) {
            min-width: 300px;
            @media (max-width: 767px) {
              min-width: 100%;
            }
            p {
              width: 300px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              margin: 0;
              @media (max-width: 767px) {
                width: 100%;
              }
            }
          }
          span {
            background: rgb(192, 191, 191);
            color: white;
            border-radius: 2px;
            margin-right: 3px;
            text-transform: capitalize;
            padding: 1px 5px;
            font-size: 0.6875rem;
            letter-spacing: 1px;
            @media (max-width: 767px) {
              font-size: 1rem;
              text-transform: capitalize;
            }
          }
          div {
            & > svg {
              cursor: pointer;
            }
            // background: transparent;
            h3 {
              font-size: 0.875rem;
              font-weight: 700;
              margin-bottom: 0;
              &::first-letter {
                text-transform: capitalize;
              }
              @media (max-width: 767px) {
                font-size: 1.25rem;
                margin-bottom: 4px;
              }
            }
            h4 {
              font-size: 0.875rem;
              font-weight: 400;
              margin-bottom: 0;
            }
            p {
              margin-bottom: 0;
            }
          }
          .complete {
            background: #e3fcef;
            color: #23bf8b;
            border-radius: 9999px;
            font-size: 0.75rem;
            padding: 3px 10px;
            margin-right: 3px;
          }
        }
      }
      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid white;
      }
    }
  }
}

.form-select {
  border: 1px solid $border !important;
}

///////// TABLE RESPONSIVE
@media (max-width: 767px) {
  .responsive-table thead {
    display: none; /* Oculta los encabezados en dispositivos móviles */
  }

  .responsive-table tr {
    margin-bottom: 0.625em;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .responsive-table td {
    display: block;
    //  text-align: right;
    position: relative;
    padding-left: 50%;
  }

  .responsive-table td::before {
    //  content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  td {
    // width: 49%;
    // margin: 1px;
    &.head {
      width: 100%;
      // & ~ td {
      //   display: none;
      // }
      & ~ td {
        display: inline-block;
      }
    }
  }
}
